$primary: #5095fc;
$secondary: #444f5f;
$text-secondary: #5a5f66;
$backgroundColor-secondary : #E5EBF4;
$textColor-secondary : #7C8BA2;
$borderColor-secondary: #E5EBF4;
$successBackground-primary :#E2F3E7;
$primary-color: #1C4980;
$secondary-color: #0073E6;
$border-color: #DADCE0;